@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: #18546e !important;
  min-height: 100vh;
  display: flex;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 70%;
  font-weight: 800;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
}

.navbar-light {
  background-color: #fff;
  box-shadow: 1px 14px 250px rgb(3, 98, 175);
}

.auth-wrapper {
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  height : 320px ;
  margin-left:  175px;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(50, 50, 58, 0.2);
  padding: 30px 55px 30px 55px;
  border-radius: 10px;
  transition: all .3s;
  overflow:hidden;
  margin-top: 150px;
}

.auth-wrapper .form-control:focus {
  border-color: black;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 2;
  padding-bottom: 10px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}